
body{

  font-family: Verdana, Tahoma, sans-serif;
  background-color:black;
  margin: 0 ;
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  

}

div{

  width: 300px;
  height: 370px;
  background-color:#333333;
  border-radius: 15px;
  line-height: 0.5; 
  text-align:center;
  
}

table{
  width: 80%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
}
  
img{
  margin-top: 10px;
 
}
tr {
 
color: white;
  width: 100%;
  height: 20px;
  background:#696969;
  border: none;
  outline:none;
  text-align: center;
  border-radius: 15px;
 
  font-size: 12.5px;
  font-weight: 500;
  overflow: hidden; 
  line-height: 2; 
  position: center;
}


h2{

color:white;
font-size: 15.5px;
}
h5{
  color: yellowgreen;
}

h6{
  color: aliceblue;
}

td{
  background: transparent;
  border-radius:5px;
  overflow: hidden;
}
img{

border-radius:50%; /* Cela rend l'image ronde */
            
}
